
/*/////////////////////////////////*/
/*/////////// GENERAL /////////////*/

body {
  background-color: #1a1a1a;
}

h1,
span {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 50px
}

.logo {
  width: 80px;
  height: 80px;
  margin: 80px auto;
  transition: transform 1s ease;
  transform: rotate(360deg);
}

svg {
  width: 80px;
  height: 80px;
}

path.top,
path.left,
path.right {
  fill: #067195;
}

.logo * {
  transition: all 0.5s ease-out;
}

/*/////////////////////////////////*/
/* //////// KEYFRAMES ////////// */

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes top {
  from {
    transform: translate(0px, -100px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes left {
  from {
    transform: translate(-100px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes right {
  from {
    transform: translate(100px, 100px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*////////////////////*/
/*////// HOVER //////*/

.logo:hover svg:first-child {
  transform: translate(2px, 2px) scale(0.95);
}

.logo:hover svg:nth-child(2) {
  transform: translate(2px, -2px);
}

.logo:hover svg:last-child {
  transform: translate(-1px, -1px) scale(0.94);
}

.logo:hover {
  transform: rotate(375deg);
  transition: all 0.4s ease;
  cursor: pointer;
}

.logo:hover path.top,
.logo:hover path.left,
.logo:hover path.right {
  fill: #0194C5;
}

/*///////////////////////*/

.logo svg {
  position: absolute;
}

/*.logo svg:first-child {
  animation: top .5s;
}

.logo svg:nth-child(2) {
  animation: left .45s;
}

.logo svg:last-child {
  animation: right .5s;
}*/


span:focus ~ .logo {
  transition: all 1s ease;
  transform: rotate(0deg);
}

span:focus ~ .logo svg:first-child {
  transform: translate(0px, -100px);
  opacity: 0;
}

span:focus ~ .logo svg:nth-child(2) {
  transform: translate(-100px, 0px);
  opacity: 0;
}

span:focus ~ .logo svg:last-child {
  transform: translate(100px, 100px);
  opacity: 0;
}